/* FOOTER TIL RAINY DAYS */
footer {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #113040;
    color: #FFF;
}

/* Ordne font*/
.text {
    font-family: 'Montserrat', sans-serif;
}

/* Få de tre hoved-divene til å ligge vannrett ved siden av hverandre*/
