/* FOOTER TIL RAINY DAYS */
/* Plassere de tre fractions i grid*/

footer {
    display: grid;
    grid-template-rows: auto;
    background-color: #113040;
    color: #FFF;
}
footer > .grid-footer {
    display: grid;
    grid-template-columns: 333.33px;
    justify-content: center;
    margin: 20px;
    padding: 30px;
}

/* Ordne font*/
.text {
    font-family: 'Montserrat', sans-serif;
}

/* CTA-ene i footer:*/
.cta-footer {
    background-color: #0B7F99;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px; 
    grid-row: 2;
    min-width: 50px;
    margin-top: 0px;
}

.cta-footer:hover {
    background-color: rgba(255, 255, 255, .3)
}
/* Mail CTA*/
.footer-cta {
    display: flex;
    align-items: center;
}

.email-align {
    display: flex;
}

#email-footer {
    padding: 10px;
    font-size: 1em;
}

.footer-app {
    display: flex;
    align-items: center;
    text-align: center;
}

/* Få de tre hoved-divene til å ligge vannrett ved siden av hverandre*/

@media (min-width: 480px) {
footer {
    grid-template-rows: auto auto auto;
}    

footer > .grid-footer {
        grid-template-columns: 333.33px 333.33px 333.33px;
    }
}

